.facebook_posts{
border-top:1px solid #0A0859;
background: #1c1a89;
overflow-x:hidden;
}

.facebook_posts > .fb_feed {
padding:10px;
min-height:25px;
max-height:1000px;
color:white;
border-bottom:1px solid #101556;
display:block;
overflow-x:hidden;
}

.fb_feed{
min-height:25px;
max-height:10000px;
overflow-x:hidden;
}

.fb_profile{
width:50px;
height:50px;
margin-top:10px;
margin-right:10px;
float:left;
border-radius:5px;
}

.top_notify{
background:#441185;
color:white;
}

.weather_board{
min-height:50px;
max-height:500px;
}

.weather_image{
background-size:auto;
width:100px;
height:100px;
margin:20px;
float:right;
border-radius:5px;
}

.weather_image_parent{
float:left; 
width:40%;
}

.weather_board_parent{
float:left;
width:60%;
}

.fiveday_weather{
width:100%;
min-height:100px;
max-height:10000px;
background:#222;
color:white;
display:none;
overflow-x:hidden;
}

.fiveday_weather .weather_row{
display:block;
width:90%;
position:relative;
top:10px;
left:10px;
}

.weather_row img{
width:50px;
height:50px;
float:left;
margin-right:20px;
margin-top:10px;
margin-bottom:10px;
border-radius:5px;
}