.news_posts{
border-top:1px solid #0A0859;
background: #1c1a89;
overflow-x:hidden;
}

.news_post{
padding:10px;
min-height:25px;
max-height:1000px;
color:white;
border-bottom:1px solid #101556;
display:block;
overflow-x:hidden;
}

a{
color:inherit;
text-decoration:none;
width:auto;
height:auto;
}